extends layout

block content
  div#matieres
    div.col-sm-6.col-sm-offset-3
      div.input-group.form-group
        input.form-control.search(type='text', placeholder='Recherchez une matière')
        span.input-group-btn
          button.btn
            i.glyphicon.glyphicon-search
    table.table.table-bordered
      thead
        tr
          th.sort(data-sort='annee') Année
          th.sort(data-sort='code') Code apogée
          th.sort(data-sort='matiere') Matière
      tbody.list
        each row in listeMatieres
          tr
            td.annee #{row[0]}
            td.code #{row[1]}
            td.matiere
              a(href='/feedbacks/#{row[0]}/#{row[1]}/#{row[2]}') #{row[2]}

block javascript
  script(src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.3.0/list.min.js")
  script(src='/javascripts/filtre.js')
